<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©  SMK KORPRI SUMEDANG.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Develop by <a class="text-primary" href="https://github.com/dkycco" target="_blank">Diki Muhamad Alfikri</a>
                </div>
            </div>
        </div>
    </div>
</footer>